body{
    overflow: hidden;
}

#board tr td{
    width:45px;
    height:45px;
    border: 1px solid black;
    border-collapse:collapse;
}

td button{
    height:100%;
    width:100%;
}

#mainCard {
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}